.round-avatar {
  color: $white-two;
  height: 24px;
  width: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 50%;
}

.orange {
  background-color: $orange;
}

.green {
  background-color: $green;
}

.blue {
  background-color: $blue;
}

.egg {
  background-color: $egg;
}

.purple {
  background-color: $purple;
}

.pink {
  background-color: $pink;
}

.cyan {
  background-color: $cyan;
}

.shrimp {
  background-color: $shrimp;
}

.grey {
  background-color: $cloudy-blue;
}
