#contact-list-container {
  background-color: $light-gray;
  height: calc(100vh - 64px);
  padding: 16px;
}

#contact-create {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  img {
    margin-top: 160px;
  }

  p,
  button {
    margin-top: 24px;
  }
}

.contact-options i {
  margin-left: 16px;
  cursor: pointer;
}

.contact-table {
  font-size: 14px;
  border-spacing: 0;
  border-collapse: separate;
  border: 1px solid $white;
  border-radius: 4px;
  width: 100%;
}

.contact-table td:nth-child(1) {
  width: 40px;
  text-align: center;
}

.contact-table td:last-child {
  text-align: center;
  width: 100px;
}

.contact-table td {
  color: $dark;
}

.contact-table tr:hover {
  background-color: $very-light-pink;
}

.contact-table td,
.contact-table th {
  height: 40px;
  padding: 12px;
  border-top: 1px solid $white;
}

.contact-table th {
  text-align: left;
  border-top: none;
  font-size: 13px;
  font-weight: 400;
  color: $bluey-grey;
}

.contact-table td:first-child,
.contact-table th:first-child {
  border-left: none;
}
